[submodule "src/spl"]
	path = src/spl
	url = https://github.com/YassLV/SPL-Dyno
[submodule "src/dynoLibPacket"]
	path = src/dynoLibPacket
	url = https://github.com/YassLV/DynoLibPacket
[submodule "src/dyno/lang/locale"]
	path = src/dyno/lang/locale
	url = https://github.com/YassLV/Lang-Dyno
